.myFooter{
    background: transparent;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

a.socialLink:link {
    color: white;
  }

a.socialLink:hover {
    color: black;
  }
  
a.socialLink:visited{
    color: #015386;
  }
